.button {
    font-family: 'Segoe UI', 'Open Sans', Arial, sans-serif;
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin: 15px 0px 0px 15px;
    font-size: 18px;
    text-transform: uppercase;
    background: #006600;
    color: #FFF;
    border: 0px none;
    outline: 0px none;
}

.button:hover {
    background: #FFFF00;
}

.button:active {
    background: #99FF33;
}

.featured {
	padding: 30px 0;
}
.featured > h2 {
	color: #728063;
	width: 940px;
	margin: 0 auto 24px;
	padding: 0 10px;
}
.featured ul {
	list-style: none;
	padding: 0;
}
.featured li {
	float: left;
	width: 220px;
	margin: 0 10px;
}
.featured li p {
	padding-left: 4px;
}
.featured li p b {
	display: block;
	text-transform: uppercase;
}
.featured li .more {
	margin-left: 4px;
}



/* Submenu */


#main-menu li ul {
 display: none;
 position: absolute;
 left: 0;
 top: 100%;
 padding: 0; margin: 0;
}

#main-menu li:hover > ul {
 opacity: 0.4;
 display: block;
}

#main-menu li ul li, #main-menu li ul li a {
 float: none;
}

#main-menu li ul li {
 _display: inline; /* for IE6 */
}

#main-menu li ul li a {
 width: 225px;
 height: 18px;
 display: block;
 font-size:100%;
}

/* SUBSUB Menu */

#main-menu li ul li ul {
 display: none;
}

#main-menu li ul li:hover ul {
 left: 100%;
 top: 0;
}

